{% from "macros.html.jinja" import icon %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title + " | " if title }}Phice</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% set theme = get_user_settings().theme %}
        {% if theme in THEMES %}
            <link rel="stylesheet" href="{{ url_for('static', filename='themes/{}.css'.format(theme)) }}" />
        {% endif %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ url_for('static', filename='favicon.png') }}" />
        <meta property="og:url" content="{{ request.base_url }}" />
        <meta property="og:description" content="A lightweight privacy-friendly alternative front-end for Facebook" />
        <meta property="og:site_name" content="Phice" />
        {% if get_config().enable_rss and request.endpoint in ("profile.profile", "groups.groups") %}
            <link rel="alternate" type="application/rss+xml" href="?rss=1" title="RSS Feed" />
        {% endif %}
        {% block head %}{% endblock head %}
    </head>
    <body>
        <header>
            <a class="no_underline" href="{{ url_for('home.home') }}">
                <svg id="header_logo" class="logo"><use href="{{ url_for('static', filename='logo.svg') }}#logo"></use></svg>
                <span id="name">Phice</span>
            </a>
            <div id="header_buttons">
                <a href="{{ url_for('home.home') }}" title="Search">{{ icon("search") }}</a>
                {% if get_config().enable_rss and request.endpoint in ("profile.profile", "groups.groups") %}
                    <a href="?rss=1" title="RSS Feed">{{ icon("rss") }}</a>
                {% endif %}
                <a href="{{ 'https://facebook.com' + request.full_path }}" title="View on Facebook">{{ icon("facebook") }}</a>
                <a href="https://codeberg.org/c4ffe14e/phice" title="Source Code">{{ icon("code") }}</a>
                <a href="{{ url_for('settings.settings') }}" title="Settings">{{ icon("gear") }}</a>
            </div>
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
    </body>
</html>
