{% macro icon(name, class="") -%}
    <svg class="icon {{ class }}"><use href="{{ url_for('static', filename='assets/icons.svg') }}#{{ name }}"></use></svg>
{%- endmacro %}

{% macro video(node) -%}
    {% if node.url -%}
        <video
            controls
            src="{{ node.url | proxy }}"
            {% if node.thumbnail_url is not none -%}
                poster="{{ node.thumbnail_url | proxy }}"
            {%- endif %}
            preload="metadata"
        ></video>
    {%- else -%}
        <a
            class="media_container"
            {% if node.owner_id -%}
                href="{{ url_for('posts.videos', author=node.owner_id, token=node.id) }}"
            {%- else -%}
                href="{{ url_for('posts.watch', v=node.id) }}"
            {%- endif %}
        >
            <img
                src="{{ node.thumbnail_url | proxy }}"
                alt="Video thumbnail"
            />{{ icon("play") }}
        </a>
    {% endif -%}
{%- endmacro %}

{% macro photo(node, cls="") -%}
    <a {% if node.id %}href="{{ url_for('posts.photo', fbid=node.id) }}"{% endif %}>
        <img
            class="{{ cls }}"
            src="{{ node.url | proxy }}"
            alt="{{ node.alt_text }}"
        />
    </a>
{%- endmacro %}

{% macro animated_image(node) -%}
    <video
        loop
        autoplay
        muted
        src="{{ node.url | proxy }}"
    ></video>
{%- endmacro %}

{% macro message(text, i=none) -%}
    <span class="message_card">{{ icon(i) + " " if i is not none }}{{ text }}</span>
{%- endmacro %}

{% macro event(node) -%}
    <div class="event">
        <h3>{{ node.name }}</h3>
        <p>{{ node.time }}</p>
        <p>{{ node.description }}</p>
    </div>
{%- endmacro %}

{% macro poll(node) -%}
    <div class="poll">
        <h3 class="poll_text">{{ node.text }}</h3>
        {% for i in node.options %}
            <div class="poll_item" style="--persent: {{ i[2] }}%">
                <div class="poll_item_bg"></div>
                <div class="poll_item_layer1">
                    <span class="poll_item_text">{{ i[0] }}</span><b>{{ i[2] }}% ({{ i[1] | format_number }})</b>
                </div>
                <div class="poll_item_layer2">
                    <span class="poll_item_text">{{ i[0] }}</span><b>{{ i[2] }}% ({{ i[1] | format_number }})</b>
                </div>
            </div>
        {% endfor %}
    </div>
{%- endmacro %}

{% macro attachment(node) -%}
    {%- set t = type(node) -%}
    {% if t == "Photo" -%}
        {{ photo(node) }}
    {%- elif t == "Video" -%}
        {{ video(node) }}
    {%- elif t == "AttachmentAlbum" -%}
        {%- for i in node.items -%}
            {%- set it = type(i) -%}
            {%- if it == "Photo" -%}
                {{ photo(i) }}
            {%- elif it == "Video" -%}
                {{ video(i) }}
            {%- endif -%}
        {%- endfor -%}
        {%- if node.items_left > 0 -%}
            <a
                class="no_underline"
                href="{{ url_for('albums.albums', set=node.id) }}"
            ><span class="attachments_left">+{{ node.items_left }}</span></a>
        {%- endif -%}
    {%- elif t == "AnimatedImage" -%}
        {{ animated_image(node) }}
    {%- elif t == "Poll" -%}
        {{ poll(node) }}
    {%- elif t == "Event" -%}
        {{ event(node) }}
    {%- elif t == "Unavailable" -%}
        {{ message("This content isn't available right now.", "lock") }}
    {%- elif t == "Post" -%}
        {{ Post(node) }}
    {%- elif t == "URL" -%}
    {%- else -%}
        {{ message("Unsupported attachment.", "triangle-exclamation") }}
    {%- endif %}
{%- endmacro %}

{% macro expandable(text, expanded=false, cls="") -%}
    <span class="{{ cls }}">
        {%- if text | length > 250 and not expanded -%}
            {%- set t = uuid() -%}
            <input class="read_more" type="checkbox" id="{{ t }}" autocomplete="off" />{#--#}
            <span>{{ text[:250] }}</span>{#--#}
            <label for="{{ t }}">...Read more</label>
        {%- endif -%}
        <span>{{ text | urlize }}</span>{#--#}
    </span>
{%- endmacro %}

{% macro Comment(comment) -%}
    <article class="comment" style="--depth: {{ comment.depth }}">
        {% if comment.depth == 0 -%}
            <a
                class="comment_link"
                href="{{ url_for(request.endpoint,
                        author=request.view_args.author,
                        token=request.view_args.token,
                        comment_id=comment.id,
                        sort=request.args.get('sort'),
                    )
                }}"
            ></a>
        {%- endif %}
        <a
            {% if comment.author.username -%}
                href="{{ url_for('profile.profile', username=comment.author.username) }}"
            {%- endif %}
        >
            <img
                class="comment_profile_picture"
                src="{{ comment.author.picture_url | proxy }}"
                alt="{{ comment.author.name }}'s profile picture"
            />
        </a>
        <div class="comment_body">
            <div class="comment_header">
                <a
                    {% if comment.author.username -%}
                        href="{{ url_for('profile.profile', username=comment.author.username) }}"
                    {%- endif %}
                ><span class="profile_name">{{ comment.author.name }}</span></a>{{
                    icon("circle-check", class="profile_checkmark") if comment.author.verified
                }}
            </div>
            {% if comment.text -%}
                <div class="comment_text" dir="auto">{{ expandable(comment.text) }}</div>
            {%- endif %}
            {% if comment.attachment -%}
                <div class="comment_attachment">{{ attachment(comment.attachment) }}</div>
            {%- endif %}
            <div class="comment_footer">
                <span class="comment_time" title="{{ comment.time | format_time_full }}">{{ comment.time | format_time }}</span>
                <div class="comment_feedback">
                    <div class="reactions">
                        {{ icon("thumbs-up") }}<span title="Reactions">{{ comment.reactions.total | format_number }}</span>
                    </div>
                    <div class="reactions_popup">
                        {{ icon("thumbs-up") }}<span>{{ comment.reactions.like | format_number }}</span>
                        {{ icon("heart") }}<span>{{ comment.reactions.love | format_number }}</span>
                        {{ icon("hand-holding-heart") }}<span>{{ comment.reactions.care | format_number }}</span>
                        {{ icon("face-grin-squint") }}<span>{{ comment.reactions.haha | format_number }}</span>
                        {{ icon("face-surprise") }}<span>{{ comment.reactions.wow | format_number }}</span>
                        {{ icon("face-sad-tear") }}<span>{{ comment.reactions.sad | format_number }}</span>
                        {{ icon("face-angry") }}<span>{{ comment.reactions.angry | format_number }}</span>
                    </div>
                    {{ icon("comment") }}<span title="Replies">{{ comment.replies_count | format_number }}</span>
                </div>
            </div>
        </div>
    </article>
{%- endmacro %}

{% macro Post(post, expanded=false) -%}
    <article class="post">
        <a class="post_link" href="{{ post_url(post) }}"></a>
        <div class="post_header">
            <a {% if post.author.username %}href="{{ url_for('profile.profile', username=post.author.username) }}"{% endif %}>
                <img
                    class="post_profile_picture"
                    src="{{ post.author.picture_url | proxy }}"
                    alt="{{ post.author.name }}'s profile picture"
                />
            </a>
            <div>
                <div class="post_name">
                    <a
                        {% if post.author.username -%}
                            href="{{ url_for('profile.profile', username=post.author.username) }}"
                        {%- endif %}
                    ><b>{{ post.author.name }}</b>{{ icon("circle-check") if post.author.verified }}</a>
                    {% if post.badges -%}
                        <span class="badges">{{ " • ".join(post.badges) }}</span>
                    {%- endif %}
                    {% if post.from_group -%}
                        {{ icon("chevron-right") }}<a href="{{ url_for('groups.groups', token=post.from_group.username) }}">
                            <b>{{ post.from_group.name }}</b>
                        </a>
                    {%- endif %}
                </div>
                {%- if post.title %}<div class="post_title"><span>{{ post.title }}</span></div>{% endif -%}
                <div class="post_time"><span title="{{ post.time | format_time_full }}">{{ post.time | format_time }}</span></div>
            </div>
        </div>
        {% if post.text -%}
            <div class="post_text" dir="auto">{{ expandable(post.text, expanded=expanded) }}</div>
        {%- endif %}
        {% if post.attachment -%}
            <div class="post_attachment">{{ attachment(post.attachment) }}</div>
        {%- endif %}
        {% if post.feedback_id is not none -%}
            <div class="post_feedback">
                <div class="reactions">
                    {{ icon("thumbs-up") }}<span title="Reactions">{{ post.reactions.total | format_number }}</span>
                </div>
                <div class="reactions_popup">
                    {{ icon("thumbs-up") }}<span>{{ post.reactions.like | format_number }}</span>
                    {{ icon("heart") }}<span>{{ post.reactions.love | format_number }}</span>
                    {{ icon("hand-holding-heart") }}<span>{{ post.reactions.care | format_number }}</span>
                    {{ icon("face-grin-squint") }}<span>{{ post.reactions.haha | format_number }}</span>
                    {{ icon("face-surprise") }}<span>{{ post.reactions.wow | format_number }}</span>
                    {{ icon("face-sad-tear") }}<span>{{ post.reactions.sad | format_number }}</span>
                    {{ icon("face-angry") }}<span>{{ post.reactions.angry | format_number }}</span>
                </div>
                {{ icon("comment") }}<span title="Comments">{{ post.comments_count | format_number }}</span>
                {{ icon("share") }}<span title="Shares">{{ post.share_count | format_number }}</span>
                {% if post.view_count is not none -%}
                    {{ icon("play") }}<span title="Views">{{ post.view_count | format_number }}</span>
                {%- endif %}
                {% if type(post.attachment) == "Poll" -%}
                    {{ icon("poll") }}<span title="Votes">{{ post.attachment.total | format_number }}</span>
                {%- endif %}
            </div>
        {%- endif %}
    </article>
{%- endmacro %}

{% macro search_bar() %}
    {% set q = request.args.get('q') %}
    <form class="search_bar" action="{{ url_for('search.search') }}">
        <input
            type="text"
            name="q"
            placeholder="Search"
            autocomplete="off"
            required
            value="{{ q if q }}"
        />
        <select name="t">
            {% set t = request.args.get("t") %}
            <option value="pages">Pages</option>
            <option value="posts" {{ "selected" if t == "posts" }}>Posts</option>
            <option value="recent_posts" {{ "selected" if t == "recent_posts" }}>Recent posts</option>
            <option value="people" {{ "selected" if t == "people" }}>People</option>
        </select>
        <button type="submit" class="icon_button">{{ icon("search") }}</button>
    </form>
{% endmacro %}
