{% extends "base.html.jinja" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}" />
{% endblock head %}

{% block content %}
    <form id="settings" method="post">
        <h1>Settings:</h1>
        <input type="hidden" name="referrer" value="{{ request.headers.get('referer', '') }}" />
        <label class="settings_row">
            Theme
            <select name="theme">
                <option value="default">Default</option>
                <option value="light" {{ "selected" if get_user_settings().theme == "light" }}>Light</option>
                <option value="black" {{ "selected" if get_user_settings().theme == "black" }}>Black</option>
                <option value="catppuccin_mocha" {{ "selected" if get_user_settings().theme == "catppuccin_mocha" }}
                >Catppuccin mocha</option>
                <option value="catppuccin_latte" {{ "selected" if get_user_settings().theme == "catppuccin_latte" }}
                >Catppuccin latte</option>
            </select>
        </label>
        <label class="settings_row">
            Default comments sort
            <select name="comments_sort">
                <option value="filtered" {{ "selected" if get_user_settings().comments_sort == "filtered" }}>Most relevant</option>
                <option value="newest" {{ "selected" if get_user_settings().comments_sort == "newest" }}>Newest</option>
                <option value="all" {{ "selected" if get_user_settings().comments_sort == "all" }}>All</option>
            </select>
        </label>
        <label class="settings_row">
            Proxy media
            <input type="checkbox" name="proxy" {{ "checked" if get_user_settings().proxy }} />
        </label>
        <label class="settings_row">
            Expand posts
            <input type="checkbox" name="expand" {{ "checked" if get_user_settings().expand }} />
        </label>
        <label class="settings_row">
            Time zone
            <input
                type="number"
                name="timezone"
                value="{{ get_user_settings().timezone }}"
                min="-12"
                max="14"
            />
        </label>
        <hr />
        <div class="settings_footer">
            <button type="submit" name="save" value="on">Save</button>
            <button type="submit" name="reset" value="on">Reset</button>
        </div>
    </form>
{% endblock content %}
