<?xml version="1.0"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{ feed.name }} | Phice</title>
        <link>{{ url_for("groups.groups", token=feed.token, _external=true) if feed.is_group else url_for("profile.profile", username=feed.token, _external=true) }}</link>
        <description>RSS feed for {{ feed.name }}</description>
        {% if feed.picture_url -%}
            <image>
                <url>{{ feed.picture_url | proxy }}</url>
                <title></title>
                <link>{{
                    url_for(
                        "groups.groups",
                        token=feed.token,
                        _external=true,
                    ) if feed.is_group else url_for(
                        "profile.profile",
                        username=feed.token,
                        _external=true,
                    )
                }}</link>
            </image>
        {%- endif %}
        {%- for i in feed.posts %}
        <item>
            <title>{{ i.text[:60] }} | {{ i.author.name }}</title>
            <link>{{
                url_for(
                    "posts.groups_posts",
                    author=i.from_group.username,
                    token=i.post_id,
                    _external=true,
                ) if i.from_group else url_for(
                    "posts.videos" if i.is_video else "posts.posts",
                    author=i.author.username,
                    token=i.post_id,
                    _external=true,
                )
            }}</link>
            <description><![CDATA[<p>{{ i.text }}</p>
                {%- if i.attachment %}
                    <br />
                    {%- set t = type(i.attachment) -%}
                    {% if t == "Photo" -%}
                        <img src="{{ i.attachment.url | proxy }}" />
                    {%- elif t == "Video" or t == "AnimatedImage"  -%}
                        <video controls src="{{ i.attachment.url | proxy }}"><a href="{{ i.attachment.url | proxy }}">Video</a></video>
                    {%- elif t == "AttachmentAlbum" -%}
                        {%- for j in i.attachment.items -%}
                            {%- set jt = type(j) -%}
                            {%- if jt == "Photo" -%}
                                <img src="{{ j.url | proxy }}" />
                            {%- elif jt == "Video" -%}
                                <video controls src="{{ j.url | proxy }}"><a href="{{ j.url | proxy }}">Video</a></video>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- elif t == "Poll" -%}
                        {%- for j in i.attachment.options -%}
                            {{ j[0] ~ " (" ~ j[1] ~ ") " ~ j[2] ~ "%" }}<br />
                        {%- endfor -%}
                    {%- elif t == "Event" -%}
                        {{ i.attachment.name }}<br />{{ i.attachment.time }}<br />{{ i.attachment.description }}
                    {%- elif t == "Unavailable" -%}
                        <p>This content isn't available right now.</p>
                    {%- elif t == "URL" or t == "Post" -%}
                    {%- else -%}
                        <p>Unsupported attachment.</p>
                    {%- endif %}
                {% endif -%}
                <br /><span>Reactions: {{ i.reactions["total"] | format_number }} | Comments: {{ i.comments_count | format_number }} | Shares: {{ i.share_count | format_number }}</span>]]></description>
            <author>{{ i.author.name }}</author>
            <guid>{{ i.post_id }}</guid>
            <pubDate>{{ i.time | format_time_rfc822 }}</pubDate>
        </item>
        {%- endfor %}
    </channel>
</rss>
